.checkbox {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  margin: 0;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  width: 2em;
  height: 1em;
  background: #eee;
  transition: background ease 0.8s;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);

  &:focus {
    outline: none;
  }

  &:before {
    content: '';
    width: 0.7em;
    height: 0.7em;
    background: #fff;
    position: absolute;
    top: 0.15em;
    left: 0.2em;
    transition: left 0.1s;
  }

  &:checked {
    background: #00bcd4;
  }

  &:checked:before {
    left: 1.15em;
  }
}
